
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: black;
}

:root {
    --tamanho-header: 80px;
    --tamanho-footer: 65px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
}

.header {
    height: var(--tamanho-header);
    border-bottom: 2px solid #32b9cd;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.login .container {
    display: flex;
    height: var(--tamanho-login);
    justify-content: center;
    align-items: center;

}

.card-login {
    background-color: whitesmoke;
    width: 400px;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    padding: 0 90px 20px 90px;
    display: flex;
}

.formulario {
    align-items: center;
    flex-direction: column;
    color: #df7695;
    gap: 20px;
    display: flex;
    font-weight: 700;
    width: inherit;
}

h2 {
    color: #df7695;
    font-weight: 750;
}

button  {
    background-color: #ec145b;
    padding: 5px 33px;
    border: none;
    border-radius: 5px;
    color: white;
}

.card-cadastro {
    display: flex;
    width: 400px;
    flex-direction: column;
    padding: 0 90px 20px 90px;
    align-items: center;
    border-radius: 5px;
    background-color: whitesmoke;
}

.campo {
    width: inherit;
}

.campo input {
    text-align: center;
    border: 2px solid #54b5c3;
    border-radius: 5px;
    width: inherit;
    padding: 6px 0 6px 0;

}

.header .container {
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.header a {
    color: #e3b062;
    text-decoration: none;
}

.agora {
    font-weight: 800;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: #e3b062;
    width: 300px;
    align-items: center;
    list-style: none;
}

.titulo {
    font-weight: 800;
    width: fit-content;
    color: #32b9cd;
}

.banner {
    color: azure;
    background-size: cover;
    height: var(--tamanho-banner);
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
}

.banner .container {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.banner .container p {
    font-size: 36px;
    margin: 0;
    padding: 0;
    width: 50%;
}

.banner .container span {
    font-weight: 800;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.social .container .boxes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 36px 0;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.box img {
    width: 170px;
}

.footer {
    display: flex;
    background-color: #32b9cd;
    color: whitesmoke;
    font-size: 15px;
    height: var(--tamanho-footer);
}

.footer .container {
    align-items: center;
    justify-content: space-between;
}

.version {
    font-size: 15px;
}

.login {
    background-size: 105%;
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
}